# Eclipse IDE
.project
.classpath
.settings/

# Pasta src/com/knowhow
src/com/knowhow/

# Arquivos temporários
*.log
*.tmp
*.swp
*.bak

# Arquivos de sistema (específicos de SO)
.DS_Store      # macOS
Thumbs.db      # Windows

# Dependências do Maven
.m2/

# Outros
.idea/
